header(class="header")
 div(class="container")
  div(class="row align-items-center")
   div(class="col-3")
    div(class="inner-logo")
     a(href="/")
      img(src="/images/pic.png")
   div(class="col-9")
    div(class="inner-menu")
     ul 
      li 
       a(href="/") Home Page 
      li 
       a(href="/products") Products