extends ../../layouts/default.pug 
include ../../mixins/successAlert.pug 
include ../../mixins/select-tree.pug
block main 
    h1 Edit the product's category 
    +errorAlert()
    form(action=`/admin/product-category/edit/${category.id}?_method=PATCH`, method="POST", enctype="multipart/form-data")
        div(class="form-group")
            label(for="title") Title 
            input(type="text", class="form-control", id="title", name="title", required, value=category.title)
        div(class="form-group")
          label(for="parent_id") Parent's category 
          select(name="parent_id", id="parent_id", class="form-control")
            option(value="") ---Choose category---
            if(list)
                +select-tree(list, 1, category.parent_id)

        div(class="form-group")
            label(for="desc") Description 
            textarea(name="description", type="text", class="form-control", id="desc", rows="5", textarea-mce) #{category.description}
        div(class='form-group' upload-part)
            label(for='thumbnail') Picture
            input(name="thumbnail", class="form-control", id="picture",  type="file", accept="image/*", data-upload-image) 
            img(src= category.thumbnail, data-upload-image-preview)
        div(class="form-group")
            label(for="position") Position 
            input(type="number", class="form-control", id="position", name="position", placeholder="auto-increase", min="1", value=category.position)
        div(class="form-control form-check form-check-inline")
            input(type="radio", class="form-check-input", id="statusActive", name="status", value="active", checked=(category.status=="active"? true:false))
            label(for="statusActive", class="form-check-label") Active 
        div(class="form-control form-check form-check-inline")
            input(type="radio", class="form-check-input", id="statusInactive", name="status", value="inactive", checked=(category.status=="inactive" ? true:false))
            label(for="statusInactive", class="form-check-label") Inactive 
        button(type="submit", class="btn btn-primary") Update
    script(src="/admin/js/createProduct.js")
            

        

