extends ../../layouts/default.pug 
include ../../mixins/successAlert.pug
block main 
    h1(class="mb-4") Edit role 
    +successAlert()
    +errorAlert()
    form(action=`/admin/roles/edit/${data.id}?_method=PATCH`, method="POST")
        .form-group
            label(for="title") Title
            input(text="text", name="title", class="form-control", id="title", required, value=data.title)
        .form-group 
            label(for="description") Description 
            input(name="description", class="form-control", id="description", required, value=data.description) 
        .form-group 
            button(type="submit", class="btn btn-primary") Update
