extends ../../layouts/default.pug 
include ../../mixins/successAlert.pug 
block main 
    h1 Permission Assignment 
    div(class="text-right")
        button(type="submit", class="btn btn-primary mb-3", button-submit) Update 
    div(data-records=records)
    table(class="table table-hover table-sm")
        thead
            tr
                th(class="text-center") Roles
                each items in records 
                    th(class="text-center") #{items.title}
        tbody 
            tr(data-name="id", class="d-none")
                td 
                each items in records
                    td(class="text-center")
                        input(type="text", value=items.id)
            tr 
                td(colspan="4")
                    b Products-category
            tr(data-name="products-category_view") 
                td View 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="products-category_create") 
                td Add new 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="product-category_edit")
                td Edit 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="product-category_delete")
                td Delete 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr 
                td(colspan="4")
                    b Products
            tr(data-name="products_view") 
                td View 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="products_create") 
                td Add new 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="product_edit")
                td Edit 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="product_delete")
                td Delete 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr 
                td(colspan="4")
                    b Roles
            tr(data-name="roles_view") 
                td View 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="roles_create") 
                td Add new 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="roles_edit")
                td Edit 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="roles_delete")
                td Delete 
                each items in records 
                    td(class="text-center")
                        input(type="checkbox")
    +successAlert()
    +errorAlert()
    form(id="form-change-permission", method="POST", action="/admin/roles/permissions?_method=PATCH", class="d-none")
        div(class="form-group")
            input(type="text", class="form-control", name="permissions")
    script(src="/admin/js/role.js")    



